
profiles {
  slurm {
    params.location='slurm'
    process.executor='slurm'
    process.queue='high'
  }
  conda {
    params.pkm = 'conda'

    params.rootDir = "${workDir}/.."
    params.outDir = "${params.rootdir}/results/"
  }
}


process {
    withName:pangolin {
        container = "quay.io/biocontainers/pangolin:2.3.2--py_0"
    }
}
