
profiles {
  slurm {
    params.location='slurm'
    process.executor='slurm'
    process.queue='high'
  }
  conda {
    params.pkm = 'conda'

    params.rootDir = "${workDir}/.."
    params.outDir = "${params.rootdir}/results/"
  }
}


process {
    withName:pangolin {
        container = "quay.io/biocontainers/pangolin:2.3.2--py_0"
    }
}

manifest {
  name = 'pangolin-nf'
  author = 'Jyotirmoy Das'
  homePage = 'https://github.com/Clinical-Genomics-Linkoping/pangolin-nf'
  description = 'Pangolin integration in NextFlow'
  mainScript = 'main.nf'
  nextflowVersion = '>=20.10.0'
  version = '0.1.0'
}
